html {
	height: 100%;
    min-width: 1024px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}


/* Common
-----------------------------------------------------------------------------*/
body {
    background: url('../images/bg-body.jpg') repeat 0 0;
	font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    line-height: normal;
    color: #363636;
	width: 100%;
	height: 100%;
    margin: 0; 
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
a {
    color: #363636;
}
a:hover {
    cursor: pointer;
}
ul {
    margin-left: 0;
    padding-left: 0;
}
h1, h2 {
    font-family: DINCyr, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 38px;
    color: rgb(112, 112, 112);
}


/* Header
-----------------------------------------------------------------------------*/
.header {
    position: relative;
	height: 100px;
    margin-bottom: 100px;
}

.header .logo {
    position: absolute;
    left: 0;
    bottom: 0;
}

.header .logo img {
    display: block;
    width: 101px;
    height: auto;
}

.fone {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: DINPro, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    line-height: 26px;
    color: rgb(112, 112, 112);
}

.fone .code {
    font-size: 18px;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	margin-left: 250px;
}
.staff {
    display: inline-block;
    width: 245px;
    vertical-align: top;
}
.content .elbows {
    margin: 0 3px;
}
div .photo {
    height: 78px;
    width: 78px;
    background: #707070;
    overflow: hidden;
    margin: 0 3px 0 0;
}
.workers img {
    display: block;
    width: auto;
    height: 78px;
    margin: 0 auto;
}
.staff ul {
    list-style: none;
}
.staff li {
    margin-bottom: 20px;
}

.photo {
    display: inline-block;
    width: auto;
}
.name {
    display: inline-block;
    width: auto;
    vertical-align: top;
}
/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
    position: relative;
	width: 250px;
}
.left-sidebar .menu {
    position: absolute;
    left: 0;
    width: auto;
}
.left-sidebar .menu a {
    font-family: DINPro, sans-serif;
    font-size: 40px;
    font-weight: lighter;
    line-height: 38px;
    color: #363636;
    text-decoration: none;
}
.left-sidebar .menu a:hover {
    color: #ffffff;
    background-color: rgb(112,112,112);
}
.left-sidebar ul {
    list-style: none;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	position: relative;
    box-sizing: border-box;
	width: 1000px;
	margin: -100px auto 0;
    padding: 40px 0;
	height: 100px;
	border-top: 1px solid rgba(112, 112, 112, 0.47);
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    line-height: normal;
    color: rgb(112, 112, 112);
}
#netadress {
    display: inline;
    width: auto; 
/*    float: left;*/
}
.footer a {
    color: rgb(112, 112, 112);
    display: inline-block;
}
/*.footer a:hover{
	text-decoration: underline;
}*/

.footer .footermenu {
    display: inline;
    margin-left: 50px;
/*    top: 40px;*/
}